<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link
      rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>

  <body>
    <header class="columns has-background-info section">
      <h1 class="column is-7">
        <a href="/" class="title is-2 has-text-white">Blogile Development</a>
      </h1>
      <nav class="column is-5 has-text-right-tablet">
        {{#if logged_in}}
          <a
            href="../../public/js/dashboard.js"
            class="button is-ghost has-text-white is-normal"
          >Dashboard</a>

          <button
            class="button is-ghost has-text-white is-normal"
            id="logout"
          >Logout</button>
        {{else}}
          <a
            href="../../public/js/login.js"
            class="button is-ghost has-text-white is-normal"
          >Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="columns is-flex-direction-column">
      {{{body}}}
    </main>

    {{#if logged_in}}
      <script src="../../public/js/logout.js"></script>
    {{/if}}
  </body>

</html>